.container {
  width: 100%;
}

.input {
  font-size: var(--font-size-7);
  line-height: var(--line-height-5);
  font-weight: var(--regular);
  width: 100%;
  height: 45px;
  padding: 0 16px;
  border-radius: var(--border-radius);
  background-color: var(--input-color);
}

.input::placeholder {
  color: var(--text-color);
}

.input:focus {
  outline: none;
}

.error {
  text-align: left;
  font-size: var(--font-size-8);
  line-height: var(--line-height-6);
  font-weight: var(--regular);
  margin-top: 8px;
  color: var(--error-color);
}
